
<div class="cards">
  <% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail) do %>
      <div class="card-category hover-options" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.picture %>)">
        <p><%= cocktail.name %></p>
      </div>
    <% end %>
  <% end %>
</div>

